<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <main>
        <div class="container">
            <% data.forEach(element => { %>
            <div class="job-info">
                <% if(authenticated){ %>
                    <span>Job id: <%= element.id%> </span>
                <% }%>  
                <h1><%= element.title%></h1>
                <p><%= element.date%></p>
                <hr>
                <p style="white-space: pre-wrap"><%= element.description %></p>
                <ul>
                    <li><i class="fa-solid fa-circle-dot"></i>Category: <%= element.category %></li>
                    <li><i class="fa-solid fa-circle-dot"></i>Experience: <%= element.experience %></li>
                    <li><i class="fa-solid fa-circle-dot"></i>Type: <%= element.type %></li>
                </ul>
                <form id="applyButton" action="apply/<%= element.id%>" method="GET">
                    <button>APPLY</button>
                </form>
            </div>
            <% }); %>
        </div>
    </main> 
    <script>var authenticated = <%= authenticated %> ;</script>
    <script src="scripts/jobs.js"></script>
    <%- include("./partials/footer.ejs") %>
</body>
</html>